.cta{
    background-color: #e6351e;
    color:#fff;
    padding:10% 15%;
    text-align: center;
}
.cta>h1{
    font-weight: bolder;
    line-height: 1.5;
    font-family: 'Montserrat-Black', sans-serif !important;
}
