

.title{
    background-color: #e6351e;
    color:#fff;
    padding:5% 15%;
    
}

.main-section{
    padding:5% 0;

}

.info{
    line-height: 1.5;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Montserrat-Black', sans-serif !important;
}
.title-image{
    
    width: 26rem;
    padding: 10% 15% 0 10%;
    margin-left: auto;
    transform: rotate(20deg);
    position: absolute;
    right: 10%;
}
.btn-container{
    display: flex;
}
.btn{
    margin: 1rem 2rem 1rem 0;  
}
@media (max-width :1030px){
    .main-section{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}